@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #272327;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 9;
}

.nav__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F1D1F; 
}

.nav__logo {
  padding: 9px 12px;
  font-size: 1.2rem;
  background-color: #1F1D1F; 
}

.nav__logo img {
  background-color: #1F1D1F;
}

.nav__bar a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.nav__menu__btn {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #1F1D1F;
}

.ri-menu-3-line,
.ri-close-line {
  background-color: #1F1D1F;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
  background-color: #413841;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  color: #E0D8D8;
  transition: 0.3s;
}

.nav__links a:hover {
  color: #fff;
}

@media (width < 768px) {
  .nav__links a {
    background-color: #413841; 
  }
}


@media (width > 768px) {
  nav {
    padding: 1rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F1D1F;
  }

  .nav__bar {
    padding: 0;
    background-color: #1F1D1F;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-image: none;
    background-color: #1F1D1F;
  }

  .nav__links a {
    background-color: #1F1D1F; 
  }

  .nav__links a:hover {
    color: #fff;
  }
  
}


.about-container,
.experience-container,
.project-container {
  padding: 6rem 2rem;
  margin-bottom: -7rem;
}

.project-container {
  padding: 6rem 2rem;
  margin-bottom: -2rem;
}

/* .experience-container::before,
.project-container::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.1px; 
  background-color: #E0D8D8; 
  margin: 0 auto 2rem;
} */

.contact-container {
  padding: 2rem 2rem;
}

.extras {
  padding: 1rem 2rem;
}

.about-container h2 {
    margin-bottom: 2rem;
    text-align: left;
}

.about-container .about-content,
.experience-container .experience-content {
    color: #555;
    margin-bottom: 2rem;
    text-align: left;
}


a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.experience-container h2,
.project-container h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 98%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: .4s;
  background: #1F1D1F;;
  color: #E0D8D8;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translate(0px, -8px);
}

.card h3 {
  padding-top: 10px;
  margin-bottom: 10px;
  background: #1F1D1F;
}

.card p {
  margin: 0;
  padding-top: 20px;
  background: #1F1D1F;
}

.contact-socials a i {
  color: #E0D8D8;
}

.card .contact-socials {
  background: #1F1D1F;
}

.contact-socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact-socials a i {
    color: #E0D8D8;
}

.contact-socials a i:hover {
  color: #FFF;
}

.tools {
  background: #1F1D1F;
  padding: 2px 5px;
  border-radius: 10px;
  border: 2px solid #E0D8D8;
}

.extras p {
  text-align: center;
  font-size: 0.6rem;
  color: #E0D8D8;
}

@media (min-width: 1200px) {

    .card {
      width: 48%;
    }

    .about-container,
    .experience-container,
    .project-container {
      margin-left: 100px;
      align-items: center;
      width: 75%
    }

    .contact-container,
    .extras {
      margin-left: -100px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about-container,
  .experience-container,
  .project-container {
    margin-left: 80px;
    align-items: center;
    width: 87%
  }

  .project-content {
    width: 100%;
    justify-content: left;
    align-items: left;
    gap: 20px;
  }

  .card {
    width: 48%;
  }
}
