@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #0A0A1A;
}

/* Navigation class styles */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

ul.nav {
    list-style: none;
    padding: 10px;
    display: flex;
    margin: 20px;
    margin-left: -10px;
}

li.nav-item {
    margin-right: 15px;
}

a.nav-link {
    text-decoration: none;
    position: relative;
    color: #555;
    justify-content: space-around;
    font-weight: 500;
    transition: .3s;
}
/* Navigation class styles */

.section__container {
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  text-align: left;
  line-height: 1.75rem;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header__content {
    text-align: left;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
}

.header__content h2 {
    margin-bottom: 2rem;
    text-align: left;
}

.header__content .section__description {
    color: #555;
    margin-bottom: 2rem;
    text-align: left;
}

#projects {
  text-align: left;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 98%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: .4s;
  background: #080822;;
  color: #fff;
  padding: 10px;
}

.card:hover {
  transform: translate(0px, -8px);
}

.card h3 {
  padding-top: 10px;
  margin-bottom: 10px;
  background: #080822;;
}

.card p {
  margin: 0;
  padding-top: 20px;
  background: #080822;;
}

.contact__socials a i {
  color: #fff;
}

.card .contact__socials {
  background: #080822;;
}

.contact__container {
  text-align: center;
}

.contact__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact__socials a i {
    color: #fff;
}

.tools {
  background: #080822;;
  padding: 2px 5px;
  border-radius: 10px;
  border: 2px solid #fff;
}

@media (min-width: 768px) {

    .card {
      width: 30%;
    }



    .header__container {
        margin-left: 100px;
    }

}
