@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #282B30;
}

nav {
  position: fixed;
  isolation: isolate;
  padding: 0.1rem;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 1;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E2124; 
}

.nav__logo {
  padding: 9px 12px;
  font-size: 1.2rem;
  background-color: #1E2124; 
}

.nav__logo img {
  background-color: #1E2124;
}

.nav__bar a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.nav__menu__btn {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #1E2124;
}

.ri-menu-3-line,
.ri-close-line {
  background-color: #1E2124;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
  background-color: #36393E;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  color: #E0D8D8;
  transition: 0.3s;
}

.nav__links a:hover {
  color: #fff;
}

@media (width < 768px) {
  .nav__links a {
    background-color: #36393E; 
  }
}


@media (width > 768px) {
  nav {
    padding: 0.1rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E2124;
  }

  .nav__bar {
    padding: 0;
    background-color: #1E2124;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-image: none;
    background-color: #1E2124;
  }

  .nav__links a {
    background-color: #1E2124; 
  }

  .nav__links a:hover {
    color: #fff;
  }
  
}


.about-container {
  padding: 8rem 2rem;
  margin-bottom: -10rem; 
}

.contributions-container {
  padding: 7rem 2rem;
  margin-bottom: -9rem;
}

.project-container {
  padding: 7rem 2rem;
  margin-bottom: -2rem;
} 

.contributions-content::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.1px; 
  background-color: #E0D8D8; 
  margin: 0 auto 2rem;
}

.contact-container {
  padding: 2rem 2rem;
}

.extras {
  padding: 1rem 2rem;
}

.about-container h2 {
    margin-bottom: 2rem;
    text-align: left;
}

.about-content,
.contributions-content {
    color: #555;
    margin-bottom: 2rem;
    text-align: left;
}

.project-info {
  color: #E0D8D8;
}

.date {
  margin-top: 10px;
}

.description {
  margin-top: 20px;
}

.description a {
  color: #555;
  font-style: bold;
  text-decoration: underline;

}

.description a:hover {
  color: #E0D8D8;
}

.project-list {
  padding-left: 40px;
}

.project-list li::before {
  content: "\2022";
  color: #E0D8D8;
  display: inline-block;
  font-weight: bold;
  width: 0.7em;
  margin-left: -0.95em;
}

.project-list li {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.contributions-container h2,
.project-container h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.notes {
  color: #555;
  margin-bottom: 2rem;
  text-align: left;
}

.card {
  width: 98%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  background: #36393E;;
  color: #E0D8D8;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  padding-top: 10px;
  margin-bottom: 10px;
  background: #36393E;
}

.card p {
  margin: 0;
  padding-top: 20px;
  background: #36393E;
}

.card .contact-socials {
  background: #36393E;
}

.card .contact-socials a  {
  background: #36393E;
}

.card .contact-socials a i {
  color: #E0D8D8;
  background: #36393E;
}

.contact-socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact-socials a i {
    color: #E0D8D8;
}

.contact-socials a i:hover {
  color: #FFF;
}

.tools {
  background: #36393E;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: 2px solid #E0D8D8;
}

.extras p {
  text-align: center;
  font-size: 0.5rem;
  color: #fff;
}

@media (min-width: 1200px) {

    .card {
      width: 48%;
    }

    .about-container {
      padding: 2rem 2rem;
      margin-bottom: -5rem;
    }

    .about-container,
    .contributions-container,
    .project-container {
      margin-left: 100px;
      align-items: center;
      width: 75%
    }

    .contact-container,
    .extras {
      margin-left: -100px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .about-container {
    padding: 2rem 2rem;
    margin-bottom: -5rem;
  }

  .about-container,
  .contributions-container,
  .project-container {
    margin-left: 80px;
    align-items: center;
    width: 87%
  }

  .project-content {
    width: 100%;
    justify-content: left;
    align-items: left;
    gap: 20px;
  }

  .card {
    width: 48%;
  }
}
